html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #171717;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
}
h2 {
	margin: 0;
	padding: 0;
}
h4 {
	text-transform: capitalize;
	margin: 4px;
}
h6 {
	text-transform: capitalize;
	margin: 4px;
	padding: 0;
	text-align: center;
}

p, ul {
	margin-top: 0px;
}
p {
	line-height: 190%;
}
a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}
	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/
.fa {
  padding: 10px;
  font-size: 50px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 65%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #363636;
  color: white;
}
.fa-youtube {
  background: #363636;
  color: white;
}
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/
.title {
		margin-bottom: 2em;
		text-transform: uppercase;
}

/** WRAPPER */

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper {
	background: #0F0F0F;
}

.container {
	width: 1024px;
	margin: auto;
}

.clearfix {
	clear: both;
}


/*********************************************************************************/
/* about                                                                        */
/*********************************************************************************/

#order {
	position: relative;
	height: 750px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	padding-top: 50px;
	
}
#forms {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border-radius: 4px;
    box-sizing: border-box;

}
input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit], input[type=reset]:hover {
    background-color: #45a049;
}

	
	
/** MENU */

#menu {
	overflow: hidden;
	margin-bottom: 2em;
	background: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 100px;
	padding: 0 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	font-weight: 600;
	border: none;
	color: #3D3D3D;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #F5F5F5;
}

#menu .current_page_item a {
	background: #F5F5F5;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 2em 0em;
		padding-bottom: 3em;
		text-align: center;
		text-transform: uppercase;
		color: #6F6F6F;
	}
	
	#footer h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #FFF;
	}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: .5em 0em;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}

	
